[Unit]
Description=Mastodon Boost Bot
Wants=network.target
 
[Service]
Type=simple
ExecStart=/home/bernhard/bin/MastodonBoostBot --debug=ALL
Nice=10
Restart=always
NoNewPrivileges=true
ProtectSystem=full
ProtectHome=true
EnvironmentFile=/home/bernhard/.config/r3_mastodon_boost.env

[Install]
WantedBy=default.target
